<!DOCTYPE html>
<html>
<head>
	<title>Node-Mysql</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
	<div class="container container-blk">
		
		<div class="breadcrumb text-center">
			<h4>Simple Todo App</h4>
			<input type="text" name="name" class="form-control" onkeyup="onEnterTodo(event)">
			<hr>
			<div id="todos_list">
			</div>
		</div>
	</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
</html>